{% extends 'base.html' %}
{% block content %}
  {% load static %}

  <div class="wrapper">
    <div class="page-inner mt-5">
      <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
        <div>
          <h3 class="fw-bold mb-3 mt-5">Funcionarios</h3>
        </div>
        <div class="ms-md-auto py-2 py-md-0 mt-5">
          <a href="#" class="btn btn-label-info btn-round me-2">Manage</a>
          <a href="#" class="btn btn-primary btn-round">
            <i class="fa fa-plus"></i>
            Funcionarios
          </a>
        </div>
      </div>
        
    </div>
  </div>
  <!-- End Custom template -->
{% endblock %}
